body {
  margin: 0;
}

.container {
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  text-align: center;
}

.main-header {
  grid-area: 1 / 1 / 2 / 4;
  text-align: left;
  padding-left: 10px;
  border: 3px solid green;
}

header a {
  color: orange;
  text-decoration: none;
}

header p {
  padding-left: 10px;
}

.main-picture {
  grid-area: 2 / 1 / 3 / 4;
  display: block;
  width: 100%;
  height: auto;
  border: 3px solid green;
}

#aside {
  grid-area: 1 / 4 / 4 / 4;
  border: 3px solid green;
}

.main-content {
  grid-area: 3 / 1 / 4 / 4;
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  border: 3px solid green;
}

.pictures {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: auto;
  border: 3px solid green;
}
.article {
  grid-area: 1 / 2 / 3 / 4;
  border: 3px solid green;
}

.info {
  grid-area: 3 / 1 / 4 / 4;
  border: 3px solid green;
}

#footer {
  background-color: #42a4ff;
  height: 100px;
  width: 100%;
}

p {
  width: 550px;
  text-align: center;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  width: 500px;
  text-align: center;
}

.navigationBar {
  background-color: #42a4ff;
  overflow: hidden;
}
.navigationBar a {
  text-decoration: none;
  float: right;
  color: rgb(255, 255, 255);
  display: block;
  text-align: center;
  place-items: center;
}
.navigationBar :hover {
  background-color: aqua;
}
#subscribe {
  float: right;
  display: block;
  color: #dddddd;
  text-align: center;
  padding: 30px 40px;
  font-size: 1.5rem;
}
#store {
  float: right;
  display: block;
  color: #42a4ff;
  text-align: center;
  padding: 30px 40px;
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
}
#contactUs {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 40px;
  text-decoration: none;
  font-size: 1.5rem;
}
#about {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 40px;
  font-size: 1.5rem;
}
#data {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 40px;
  font-size: 1.5rem;
}

#author {
  text-align: left;
}
.text-link {
  color: orange;
}
#boldline{
  font-weight: bold;
}
