body {
  margin: 0;
}

.container {
  display: grid; /* grid tutorial https://www.youtube.com/watch?v=EiNiSFIPIQE&t=11s Slaying The Dragon */
  grid-template-columns: 1fr 19rem; /* lager to kolonner hvor 250px er fixed størrelse, mens 1fr er det som er igjen*/
  grid-auto-rows: minmax(
    150px,
    auto
  ); /*rader som er adaptive til innholet i kolonnene*/
  gap: 5px;
  width: 100%; /*bruker 100% av størrelsen i gridden*/
}

.main-header {
  grid-area: 1 / 1 / 2 / 2; /*Grid område*/
  text-align: left; /*Headeren starter på venstre side*/
  margin: 0rem 1rem 0rem 1rem;
}

header h1 {
  font-size: 3rem;
}

header h2 {
  font-size: 2rem;
}
header a {
  color: orange;
  text-decoration: none;
}

header p {
  text-align: left;
  padding-left: 10px;
}

.main-picture {
  grid-area: 2 / 1 / 3 / 2; /*Grid område*/
  max-width: 100%;
  min-width: 20%;
  margin: 0rem 1rem 0rem 1rem;
}

#aside {
  grid-area: 1 / 2 / auto / 3; /*Grid område*/
  position: sticky; /*Gjør at aside følger y-aksen når top er 0*/
  top: 20px;
  min-width: 0%;
  background-color: wheat;
  border: rgb(207, 187, 152) solid 3px;
  margin: 0rem 1rem 0rem 0rem;
}

.main-content {
  grid-area: 3 / 1 / 4 / 2; /*Grid område*/
  display: grid;
  gap: 10px;
  grid-template-columns: 100px 1fr; /*Eget gridområde for main-content*/
  grid-auto-rows: minmax(50px, auto);
  margin: 0rem 1rem 0rem 1rem;
}

.pictures {
  grid-area: 1 / 1 / 2 / 2; /*Grid område*/
  max-width: 100%;
  height: auto;
}
.article {
  grid-area: 1 / 2 / 3 / 4; /*Grid område*/
}

.info {
  grid-area: 3 / 2 / 4 / 4; /*Grid område*/
  text-align: center;
}

#footer {
  background-color: #42a4ff;
  height: 100px;
  width: 100%;
}

p {
  max-width: 100%;
  text-align: center;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  width: 800px;
  text-align: center;
}

.navigationBar {
  background-color: #42a4ff;
  overflow: hidden;
}
.navigationBar a {
  text-decoration: none;
  float: right;
  color: rgb(255, 255, 255);
  display: block;
  text-align: center;
  place-items: center;
}
.navigationBar :hover {
  background-color: aqua;
  cursor: pointer;
}
#subscribe {
  float: right;
  display: block;
  color: #dddddd;
  text-align: center;
  padding: 30px 40px;
  font-size: 1.5rem;
}
#store {
  float: right;
  display: block;
  color: #42a4ff;
  text-align: center;
  padding: 30px 40px;
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
}
#contactUs {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 40px;
  text-decoration: none;
  font-size: 1.5rem;
}
#about {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 40px;
  font-size: 1.5rem;
}
#data {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 40px;
  font-size: 1.5rem;
}

#author {
  text-align: left;
}
.text-link {
  color: orange;
}
#boldline {
  font-weight: bold;
}
