body {
  margin: 0;
}

.container {
  display: grid; /* grid tutorial https://www.youtube.com/watch?v=EiNiSFIPIQE&t=11s Slaying The Dragon */
  grid-template-columns: 3fr 1fr; /* lager to kolonner hvor 3fr er en fleksibel kolonne som er tre ganger så stor som 1fr*/
  grid-auto-rows: minmax(
    150px,
    auto
  ); /*rader som er adaptive til innholet i kolonnene*/
  gap: 5px;
  max-width: 100%; /*bruker 100% av størrelsen i gridden*/
}

.main-header {
  grid-area: 1 / 1 / 2 / 2; /*Grid område*/
  text-align: left; /*Headeren starter på venstre side*/
  margin: 0rem 1rem 0rem 1rem;
}

header h1 {
  font-size: 3rem;
}

header h2 {
  font-size: 2rem;
}
header a {
  color: orange;
  text-decoration: none;
}

header p {
  text-align: left;
  padding-left: 10px;
}

.main-picture {
  grid-area: 2 / 1 / 3 / 2; /*Grid område*/
  max-width: 100%;
  margin: 0rem 1rem 0rem 1rem;
  border-bottom: black dotted 1px;
}

#aside {
  grid-area: 1 / 2 / 3 / 3; /*Grid område*/
  position: sticky; /*Gjør at aside følger y-aksen når top er 20px*/
  top: 1em;
  grid-template-rows: 1fr 1fr;
  margin: 0rem 1rem 0rem 0rem;
  text-align: center;
  padding-left: 1em;
}

.spons {
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgb(187, 225, 225);
  padding: 0.5em 0em 0.5em 0em;
  border: gray outset 1px;
}

.virus {
  grid-area: 2 / 1 / 3 / 3;
  background-color: rgb(187, 225, 225);
  margin-top: 1em;
  padding: 0.5em 0em 1em 0em;
  border: gray outset 1px;
}

.virus a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.main-content {
  grid-area: 3 / 1 / 4 / 2; /*Grid område*/
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 7fr; /*Eget gridområde for main-content*/
  grid-auto-rows: minmax(50px, auto);
  margin: 0rem 1rem 0rem 1rem;
}

.pictures {
  grid-area: 1 / 1 / 2 / 2; /*Grid område*/
  max-width: 100%;
}

.article {
  grid-area: 1 / 2 / 3 / 4; /*Grid område*/
}

.info {
  grid-area: 3 / 2 / 4 / 4; /*Grid område*/
  text-align: center;
  border-top: black dotted 2px;
  padding-top: 1em;
}

#footer {
  background-color: #42a4ff;
  padding: 0.1rem 0.5rem 0.5rem 0.5rem;
  height: 100px;
  width: 100%;
}

p {
  max-width: 100%;
  text-align: center;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  width: 100%;
  text-align: center;
}

.navigationBar {
  background-color: #42a4ff;
  overflow: hidden;
}
.navigationBar a {
  text-decoration: none;
  float: right;
  color: rgb(255, 255, 255);
  display: block;
  text-align: center;
  place-items: center;
}
.navigationBar :hover {
  background-color: aqua;
  cursor: pointer;
}
#subscribe {
  float: right;
  display: block;
  color: #dddddd;
  text-align: center;
  padding: 30px 40px;
  font-size: 1.5rem;
}
#store {
  float: right;
  display: block;
  color: #42a4ff;
  text-align: center;
  padding: 30px 40px;
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
}
#contactUs {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 40px;
  text-decoration: none;
  font-size: 1.5rem;
}
#about {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 40px;
  font-size: 1.5rem;
}
#data {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 40px;
  font-size: 1.5rem;
}

#author {
  text-align: left;
}
.text-link {
  color: orange;
}
